.monthly-rate-value,
.monthly-rate-label {
  font-size: 35px;
  font-weight: normal;
}
.monthly-rate-value {
  font-weight: 700;
}

.error-msg {
  color: red;
}

.error-msg::before {
  display: inline;
  content: "⚠ ";
}
