.button {
  background-color: #004055;
  border: none;
  color: #fff;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 12px 30px;
  font-weight: bold;
  margin-left: 70px;
  align-self: flex-end;
}
@media only screen and (max-width: 700px) {
  .button {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
.button:hover {
  background-color: #29bdba;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}
z .Button:disabled {
  color: #ccc;
  cursor: not-allowed;
}

.Success {
  color: #5c9210;
}

.Danger {
  color: #944317;
}
