.fields-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  padding: 40px 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  border-bottom: none;
}

.monthly-rate {
  padding: 20px 0;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  border: 1px solid #ccc;
}
.monthly-rate p {
  font-size: 18px;
}

@media only screen and (max-width: 700px) {
  .monthly-rate {
    flex-direction: column;
  }
  .fields-wrapper {
    flex-direction: column;
    padding: 0 25px;
  }
}
