.field {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
}
.field:first-child {
  margin-right: 50px;
}

.field p {
  position: absolute;
  margin: 0;
  font-size: 12px;
  margin-top: 6px;
  color: #097371;
  font-weight: 600;
}

.label {
  font-size: 14px;
  margin-right: 8px;
  align-self: baseline;
  text-transform: uppercase;
  font-weight: 700;
}

.input-element {
  outline: none;
  border: 2px solid rgb(122, 117, 117);
  background-color: transparent;
  font-size: 20px;
  padding: 6px 10px;
  display: block;
  width: 150px;
  box-sizing: border-box;
  color: #000;
  font-weight: 700;
  margin-top: 12px;
  line-height: 1.5;
}

.input-element:focus {
  outline: none;
  /* background-color: #f3f3f3; */
}

.invalid {
  border: 1px solid red;
  background-color: #fda49a;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* .field p::before {
  display: inline;
  content: "⚠ ";
} */

@media only screen and (max-width: 700px) {
  .field {
    margin: 50px 0px 0 0;
    width: 100%;
  }
  .field:first-child {
    margin-right: 0;
  }
  .control {
    width: 100%;
  }
  .input-element {
    width: 100%;
  }
}
